# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Alembic (Migration)
# alembic.ini 자체는 올려도 되지만, 혹시 모를 로컬 db 파일 방지
*.sqlite3


/uploads
uploads